@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: rgb(100, 0, 123);
    background: radial-gradient(
      circle,
      rgba(100, 0, 123, 1) 0%,
      rgba(62, 20, 86, 1) 100%
    );
    @apply overflow-hidden m-0 p-0 font-['Quicksand'] tracking-wide text-white;
  }
}

@layer components {
  header .pizza-svg {
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  li span.active {
    @apply font-bold;
  }
  li span.active::before {
    @apply relative -top-[2px] mr-2 inline-block scale-x-[0.8] scale-y-100 content-['>'];
  }
}
